<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion Tool</title>
    <style>
        #error_message {
            color: red;
        }
        #result {
            font-size: 0.8em; /* Уменьшаем размер шрифта */
            padding: 10px; /* Добавляем отступ */
            background-color: #f0f0f0; /* Добавляем фоновый цвет */
            border-radius: 5px; /* Добавляем скругленные углы */
            margin-top: 20px; /* Добавляем отступ сверху */
            white-space: pre-wrap; /* Позволяет сохранять пробелы и переносы строк */
        }
        #downloadButton {
            display: none;
            background-color: green; /* Задаем зеленый цвет кнопки */
            color: white; /* Задаем белый цвет текста на кнопке */
            border: none; /* Убираем границу кнопки */
            padding: 10px 20px; /* Добавляем отступы вокруг текста кнопки */
            border-radius: 5px; /* Делаем скругленные углы кнопки */
            cursor: pointer; /* Устанавливаем курсор указывающий на возможность взаимодействия */
    }
    </style>
</head>
<body>
    <h1>Select Conversion Option or Create New Task</h1>
    <a href="{% url 'new_task' %}">Create a new task</a>
    <form action="{% url 'convert' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="conversion_option">
            <option value="1">Convert Yandex Contest to LTI</option>
            <option value="2">Convert Stepik to LTI</option>
            <option value="3">Convert SmartLMS to LTI</option>
            <option value="4">Convert LTI to Yandex Contest</option>
            <option value="5">Convert LTI to Stepik</option>
            <option value="6">Convert LTI to SmartLMS</option>
            <option value="7">Convert Yandex Contest to Stepik</option>
            <option value="8">Convert Yandex Contest to SmartLMS</option>
            <option value="9">Convert Stepik to Yandex Contest</option>
            <option value="10">Convert Stepik to SmartLMS</option>
            <option value="11">Convert SmartLMS to Yandex Contest</option>
            <option value="12">Convert SmartLMS to Stepik</option>
        </select>
        <br><br>
        <input type="file" name="file" value="Choose file">
        <br><br>
        <input type="submit" value="Convert">
    </form>

    <button id="downloadButton" style="display: none;">Download Result</button>

    <div id="error_message" style="color: red;">
    </div>

    <div id="result"></div>

    <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        document.getElementById('error_message').innerText = '';
        document.getElementById('result').innerText = '';
        document.getElementById('downloadButton').style.display = 'none';

        fetch(this.action, {
            method: this.method,
            body: new FormData(this),
            headers: {
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            }
        })

        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })

        .then(data => {
            if (data.startsWith('<?xml')) {
                document.getElementById('result').innerText = data;
                document.getElementById('downloadButton').style.display = 'block';
            } else {
                const jsonData = JSON.parse(data);
                if (jsonData.error) {
                    document.getElementById('error_message').innerText = jsonData.error;
                } else {
                    document.getElementById('result').innerText = JSON.stringify(jsonData, null, 4);
                    document.getElementById('downloadButton').style.display = 'block';
                }
            }
        })

        .catch(error => {
            console.error('Error:', error);
            document.getElementById('error_message').innerText = 'Error';
        });

    });

    // Скрытие блока с ошибкой и результатом при изменении загружаемого файла
    document.querySelector('input[type="file"]').addEventListener('change', function(event) {
        document.getElementById('error_message').innerText = '';
        document.getElementById('result').innerText = '';
        document.getElementById('downloadButton').style.display = 'none';
    });

    // Скрытие блока с ошибкой и результатом при изменении опции конвертации
    document.querySelector('select[name="conversion_option"]').addEventListener('change', function(event) {
        document.getElementById('error_message').innerText = '';
        document.getElementById('result').innerText = '';
        document.getElementById('downloadButton').style.display = 'none';
    });

    const downloadButton = document.getElementById('downloadButton');

    // Обработчик события клика
    downloadButton.addEventListener('click', function() {
        const resultContent = document.getElementById('result').innerText;

        let mimeType, filename;
        const conversionOption = document.querySelector('select[name="conversion_option"]').value;
        if (conversionOption === '6' || conversionOption === '8' || conversionOption === '10') {
            mimeType = 'application/xml';
            filename = 'lms_converted_file.xml';
        } else if (conversionOption === '5' || conversionOption === '7' || conversionOption === '12') {
            mimeType = 'application/step';
            filename = 'stepik_converted_file.step';
        } else if (conversionOption === '4' || conversionOption === '9' || conversionOption === '11') {
            mimeType = 'application/json';
            filename = 'yandex_converted_file.json';
        } else {
            mimeType = 'application/json';
            filename = 'lti_converted_file.json';
        }

        const blob = new Blob([resultContent], { type: mimeType });

        // Создаем временную ссылку на файл
        const downloadLink = document.createElement('a');
        downloadLink.href = URL.createObjectURL(blob);
        // downloadLink.download = filename;
        downloadLink.setAttribute('download', filename);
        downloadLink.click();

        // Освобождаем ресурсы после скачивания файла
        URL.revokeObjectURL(downloadLink.href);
    });
</script>
</body>
</html>
